/* --------- heading --------- */

.heading-section{
  text-align: center;
  margin-top:0%;
}

.heading-section h1{
  font-size: 58px;
  color: rgb(230, 240, 240);
}

.heading-section h2{
  margin-top: 10px;
}

.heading-button-left{
  min-width: 144px;
  max-width: 100%;
}

.heading-button-right{
  margin-left: 10px;
}

.logo > img {
  height: 50px;
}
.mat-typography {
background-image: url("src/assets/img/ezibackground.jpg");
height: 700px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  /*
    background-image: linear-gradient(
180deg
,rgba(0, 0, 0, .4),rgba(0, 0, 0,.2),rgba(0, 0, 0,.46));
  background: linear-gradient(rgb(0, 255, 115),rgb(255,255,255));
  background-image: url("src/assets/img/ezibackground.jpg");
  background-size: cover;*/
}

h1, h2 {
  color: #0B3954;
  font-family: "Yu Gothic UI";
  font-weight: bold;
}

.heading-button-right{
  border-color: green;
  border-radius: 4px;
  color: #0B3954;
  font-family: "Yu Gothic UI";
  font-weight: bold;
}

.search-form{
  border-radius: 15px;
  /*margin-top: -30px;*/
  width: 80%;
}
.mat-success {
  background-color: green;
  color: #fff;
}