<section id="information" [ngStyle.lt-md]="{'margin-top': '30px', 'margin-bottom': '30px'}">
      <div class="container portfolio-card">

        <div class="portfolio-section portfolio-heading mat-typography" fxLayout="column" fxLayoutAlign="center center">
            <div>
            <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Partners</h2>
            </div>
            <div>

            </div>
        </div>


        <div class="portfolio-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutGap.sm="8px">
          <div fxFlex="33.33" [about]>
            <mat-card class="p-0 m-0">
              <img mat-card-image src="http://ezibus.leapfrogtechafrica.com/assets/images/GHION.jpg" class="center">
              <mat-card-content>
                <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">GHION BUS</h5>
                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
<!--                  Another operator company-->
                </p>
<!--                <mat-divider class="mb-1"></mat-divider>-->
<!--                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>-->
<!--                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>-->
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="33.33" [about]>
            <mat-card class="p-0 m-0">
              <img mat-card-image src="http://ezibus.leapfrogtechafrica.com/assets/images/Dreamliner.jpg" class="center">
              <mat-card-content>
                <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">DREAMLINER BUS</h5>
                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
<!--                  Another operator company-->
                </p>
<!--                <mat-divider class="mb-1"></mat-divider>-->
<!--                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>-->
<!--                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>-->
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="33.33" [about]>
            <mat-card class="p-0 m-0">
              <img mat-card-image src="../../assets/img/noha.jpg" class="center">
              <mat-card-content>
                <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">NOHA BUS</h5>
                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
<!--                  Another operator company-->
                </p>
<!--                <mat-divider class="mb-1"></mat-divider>-->
<!--                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>-->
<!--                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>-->
              </mat-card-content>
            </mat-card>
          </div>
        </div>

      </div>
</section>
