<section id="information" [ngStyle.lt-md]="{'margin-top': '30px', 'margin-bottom': '30px'}">
      <div class="container portfolio-card">

        <div class="portfolio-section portfolio-heading mat-typography" fxLayout="column" fxLayoutAlign="center center">
            <div>
            <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Information</h2>
            </div>
            <div>
            <h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">
              
              Products and EZI BUS Booking Operator Partners</h3>
            </div>
        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutGap.sm="8px">
          <div fxFlex="33.33" [about]>
            <mat-card class="p-0 m-0">
              <img mat-card-image src="assets/img/leapfrog_small-logo.png">
              <mat-card-content>
                <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">LEAPFROG AFRICA</h5>
                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                  Leapfrog Technology Africa PLC is a technology company created to bring solutions to African daily life inconveniences with the support of technology. 
                </p>
                <mat-divider class="mb-1"></mat-divider>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">link1</mat-icon></button>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="33.33" [about]>
            <mat-card class="p-0 m-0">
              <img mat-card-image src="assets/img/ezibus.jpg">
              <mat-card-content>
                <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">EZI BUS</h5>
                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                  EZI BUS is Bus Ticket Booking Product owned by Leapfrog Africa. It is an Efficient System for Bus Seat Reservations. 
                </p>
                <mat-divider class="mb-1"></mat-divider>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="33.33" [about]>
            <mat-card class="p-0 m-0">
              <img mat-card-image src="assets/img/gihion.jpg">
              <mat-card-content>
                <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">GIHION BUS</h5>
                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                  GIHION BUS Is Bus Operator Company Work With Us.Book Your bus ticket using EZI BUS Platform with a few clicks.
                </p>
                <mat-divider class="mb-1"></mat-divider>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        
        <div class="portfolio-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutGap.sm="8px">
          <div fxFlex="33.33" [about]>
            <mat-card class="p-0 m-0">
              <img mat-card-image src="assets/img/newbus.jpg">
              <mat-card-content>
                <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Operator</h5>
                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                  Another operator company
                </p>
                <mat-divider class="mb-1"></mat-divider>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="33.33" [about]>
            <mat-card class="p-0 m-0">
              <img mat-card-image src="assets/img/newbus.jpg">
              <mat-card-content>
                <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Operator</h5>
                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                  Another operator company
                </p>
                <mat-divider class="mb-1"></mat-divider>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="33.33" [about]>
            <mat-card class="p-0 m-0">
              <img mat-card-image src="assets/img/newbus.jpg">
              <mat-card-content>
                <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Operator</h5>
                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                  Another operator company
                </p>
                <mat-divider class="mb-1"></mat-divider>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

      </div>
</section>
