<section id="payment-option" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
    <div class="container">
		      <div class="blog-section blog-heading mat-typography" fxLayout="column" fxLayoutAlign="center center">
		            <div>
		            <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Payment Options</h2>
		            </div>
		            <div>
			        <h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">
					EZI BUS offers a wide selection of payment options to buy ticket cash or online.
						</h3>
						Here below is the list of payment options which are available to make payment easier for our esteemed customers:
				

			        </div>
		        </div>

			    <div class="owl-carousel owl-theme">
					<div id="scroll-item" class="item" [about]>
				    	<mat-card>
			              <img mat-card-image src="assets/img/ezibusAgent.jpg" height="260px">
			              <mat-card-content>
			                <a href="#blog"><h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">EZI BUS Aents</h5></a>
			                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
			                  Cash Payment At <br>
								1. EStifanos<br> 
							  2. Lamberet<br>
							  <br>
			                </p>
			                
			              </mat-card-content>
			            </mat-card>
				    </div>
					<div id="scroll-item" class="item" [about]>
				    	<mat-card>
			              <img mat-card-image src="assets/img/cbe.png" height="260px">
			              <mat-card-content>
			                <a href="#blog"><h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Commercial bank of Ethiopia</h5></a>
			                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
			                 1.Any CBE Branch<br>
							 2.CBE Mobile Banking<br>
							 3.CBE Birr
			                </p>
			                
			              </mat-card-content>
			            </mat-card>
				    </div>
				    <div id="scroll-item" class="item" [about]>
						<mat-card>
			              <img mat-card-image src="assets/img/abyssinia.jpg" height="260px"> 
						  <mat-card-content>
			                <a href="#blog"><h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Abyssinia Bank</h5></a>
			                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
								1.Any Abyssinia Bank Branch<br>.
								<br>
								<br>
								<br>
							
								
			                </p>
			                
			              </mat-card-content>
			            </mat-card>
				    </div>
				    <div id="scroll-item" class="item" [about]>
				    	<mat-card>
			              <img mat-card-image src="assets/img/lion.png" height="260px">
			              <mat-card-content>
							  
			                <a href="#blog"><h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Lion Internationa Bank</h5></a>
			                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
								1.Any Lion International Bank Branch 
							
								<br>
								<br>	
							
			                </p>
			                
			              </mat-card-content>
			            </mat-card>
				    </div>
				    <div id="scroll-item" class="item" [about]>
				    	<mat-card>
			              <img mat-card-image src="assets/img/awash.png" height="260px">
			              <mat-card-content>
			                <a href="#blog"><h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Awash Bank</h5></a>
			                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
								1.Any Awash Bank Branch<br>
								<br>
								<br>
								<br>
			                </p>
			                
			              </mat-card-content>
			            </mat-card>
				    </div>
				    
				    <div id="scroll-item" class="item" [about]>
				    	<mat-card>
			              <img mat-card-image src="assets/img/newBank.jpg" height="260px">
			              <mat-card-content>
			                <a href="#blog"><h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">New Other</h5></a>
			                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
			                 This is Place for new Bank
							 <br>
								<br>
								<br>
								<br>
			                </p>
			                
			              </mat-card-content>
			            </mat-card>
				    </div>
				    
				</div>
				<div fxLayout="row" fxLayoutAlign="center center">
					<button class="customPrevBtn" mat-raised-button color="primary">Prev</button>
	  				<button class="customNextBtn" mat-raised-button color="accent">Next</button>
				</div>
    </div>
</section>